<html>
    <head>
        <script src="~/Scripts/jquery-2.0.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <link href="~/Content/css/demo.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <div class="container">
            <div class="title">
                <span>
                    نحوه ایجاد یک تصویر امنیتی (Captcha) با حروف فارسی در ASP.Net MVC
                </span>
                <a href="http://www.dotnettips.info/post/1331/%D9%86%D8%AD%D9%88%D9%87-%D8%A7%DB%8C%D8%AC%D8%A7%D8%AF-%DB%8C%DA%A9-%D8%AA%D8%B5%D9%88%DB%8C%D8%B1-%D8%A7%D9%85%D9%86%DB%8C%D8%AA%DB%8C-captcha-%D8%A8%D8%A7-%D8%AD%D8%B1%D9%88%D9%81-%D9%81%D8%A7%D8%B1%D8%B3%DB%8C-%D8%AF%D8%B1-asp-net-mvc" target="_blank">راهنما</a>
            </div>
            <div>
                سازنده: <a href="http://www.dotnettips.info/user/%d9%be%da%98%d9%85%d8%a7%d9%86%20%d9%be%d8%a7%d8%b1%d8%b3%d8%a7%d8%a6%db%8c" target="_blank">پژمان پارسائی</a>
            </div>
            <div>
                با تشکر از: <a href="http://www.dotnettips.info/user/%D9%88%D8%AD%DB%8C%D8%AF%20%D9%86%D8%B5%DB%8C%D8%B1%DB%8C" target="_blank">وحید نصیری</a>
            </div>
            @RenderBody()
        </div>
    </body>

    @RenderSection("Scripts")

</html>
